%body
  .container.container_50
    .grid_8
      .logo
        %p
          tengoantojo
    .grid_34
      =haml :global_nav
    .grid_8
      .time
        %p Medell&iacute;n, Colombia
        %p 23 C
        %p 15:00
    .clear &nbsp;
    #banner-left.grid_8
      =haml :banner
    #main.grid_34
      =haml :left
    #banner-right.grid_8
      =haml :banner