%body
  %div.container.container_50
    %div.grid_50.search
      %p 
        tengoantojo de
        %input{:type=>"text", :name=>"search"}
    %div.clear &nbsp;
    #banner-left.grid_8
      =haml :banner
    #banner-main.grid_34
      =haml :left
    #banner-right.grid_8
      =haml :banner