%body
  %div.container.container_24
    %div.grid_24.search
      %p
        tengoantojo de
        %input#search{:type=>"text", :name=>"search"}
    %div.clear &nbsp;
    #content.grid_13.content-container
      = #categorias_nav
      =haml :left
    #right.grid_11
      =haml :right
=js_tag "lib"