#bridge-control
  .listing-navigation
    %ul
      %li
        %button#prev &nbsp;<&nbsp;
      %li
        %button#next &nbsp;>&nbsp;
    %input.page{:type=>"text"}
    %p &nbsp;de&nbsp;
    %p.total 37
  %ul.nav-opts
    %li
      %img{:src=>"/images/v5-ta-icono-barra-1.png"}
    %li
      %img{:src=>"/images/v5-ta-icono-barra-2.png"}
    %li
      %img{:src=>"/images/v5-ta-icono-barra-3.png"}
    %li
      %img{:src=>"/images/v5-ta-icono-barra-4.png"}
  %a.ciudad{:href=>"#"} Medellin
