.category-list
  - category_list.each do |c|
    %ul
      %li.category{:class=>"#{c["leaf"] ? "leaf" : ""}"}
        %a{:href=>"/categories/#{c["id"]}"} 
          =c["key"]
        - unless c["leaf"]
          %p &nbsp;>
