%div.categorias-container
  %ul.breadcrumb
    %li
      %a{:href=>"#tab1"}
        %em miga
    %li
      %em >
    %li
      %a{:href=>"#tab12"}
        %em de
    %li
      %em >
    %li
      %a{:href=>"#tab3"}
        %em pan
  %ul.categorias-lista
    %li.selected
      %a{:href=>"inicio"}
        %em del mundo
    %li
      %a{:href=>"dos"}
        %em callejera
    %li
      %a{:href=>"tres"}
        %em reposter&iacute;a