%div.yui-navset.yui-navset-top#categorias-container
  %ul.yui-nav.cat-nav#categorias-lista-1
    %li.selected
      %a{:href=>"#tab100"}
        %em Inicio
    %li
      %a{:href=>"#tab200"}
        %em Dos
    %li
      %a{:href=>"#tab300"}
        %em Tres
  %ul.yui-nav.cat-nav.breadcrumb#categorias-lista-2
    %li
      %a{:href=>"#tab1"}
        %em miga
    %li
      %em >
    %li
      %a{:href=>"#tab12"}
        %em de
    %li
      %em >
    %li
      %a{:href=>"#tab3"}
        %em pan
  %ul.yui-nav.cat-nav#categorias-lista-3
    %li.selected
      %a{:href=>"inicio"}
        %em del mundo
    %li
      %a{:href=>"dos"}
        %em callejera
    %li
      %a{:href=>"tres"}
        %em reposter&iacute;a
  %ul.yui-nav.cat-nav#categorias-lista-30
    %li.selected
      %a{:href=>"inicio"}
        %em Inicio
    %li
      %a{:href=>"dos"}
        %em Dos
    %li
      %a{:href=>"tres"}
        %em Tres
  %ul.yui-nav.cat-nav#categorias-lista-4
    %li.selected
      %a{:href=>"#tab1"}
        %em del mundo
    %li
      %a{:href=>"#tab12"}
        %em chatarra
    %li
      %a{:href=>"#tab3"}
        %em reposter&iacute;a