!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %title
      Ontoworks Designer
    =jquery
    =js_tag "lib"
    =js_tag "globals"
    =js_tag "app"

    =jquery_plugin "scrollto/1.4.1/jquery.scrollTo-min"
    =jquery_plugin "localscroll/1.2.7/jquery.localscroll-min"
    =jquery_plugin "codalike-slider/jquery.serialScroll-1.2.1"
    =js_tag "myserialscroller"

    =js_tag "ocommerce"
    =js_tag "product_overlay"

    =css_link "style"
  %body
    =product_list_home