.brief
  .brief-product
    .brief-product-media
      #media-full
        /=haml :image_slideshow
        =haml :galleria
      %ul#product-image-list.image-overlay
        %li
          %a 
            %img{:width=>"120", :height=>"120"}
            .caption
              %p &lt;  fotos  &gt; 
              %p#media-full-expand +
      .media-control
        %ul
          %li
            %a
              %em Fotos    
          %li
            %a
              %em Videos
          %li
            %a
              %em Show
      %a#media-full-close cerrar
    .product-basic-info
      %div.name	
        %p.label nombre
        %p.input-error error al validar el valor en este campo
        %div.input
          %a#product-name.nombre.editable{:href=>"#", :title=>"Edit Name"}
            Un producto
      %div.category
        %p.label categor&iacute;a
        %p.input-error error al validar el valor en este campo
        %div.input
          %a#product-category.tipo.editable{:href=>"#", :title=>"Edit Product Type"} Tipo de producto
        .category-select o
      %div.price
        %p.label precio
        %p.input-error error al validar el valor en este campo
        %div.input
          %a#product-price.editable{:href=>"#", :title=>"Edit Price"}
            $999,999.99
      %div.description
        %p.label descripci&oacute;n
        %p.input-error error al validar el valor en este campo
        %div.input
          %a#product-description.descripcion.editable{:href=>"#", :title=>"Edit Description"}
      %div.condition
        %p.label condici&oacute;n
        %p.input-error error al validar el valor en este campo
        %div.input
          %a#product-condition.condicion.editable{:href=>"#", :title=>"Edit Condition"} Nuevo

    .publish-product
      %a#publish-product-btn{:href=>"#"} publicar producto
