%table.entity_table#entity-name
  %tr
    %td{:colspan=>2} Entity
  %tr
    %th name
    %th type
  %tr#entity-nameNprop-name
    %td.name property 1
    %td.type type
  %tr
    %td
      %input.name{:type=>"text"}
    %td
      %input.name{:type=>"text"}
  %tr
    %td{:colspan=>2, :align=>"right"}
      %button A