%ul.galleria
  %li
    %img{:src=>"/image", :title=>"", :alt=>""}
  %li
    %img{:src=>"http://www.bhphotovideo.com/images/items/628869.jpg", :title=>"", :alt=>""}
  %li
    %img{:src=>"http://www.bhphotovideo.com/images/items/587723.jpg", :title=>"", :alt=>""}
