=navigation "global-nav", "", | 
            [{:title=>"el mercado",:url=>"marketplace", :selected=>true}, |
             {:title=>"la gente",  :url=>"social"},      |
             {:title=>"las calles",:url=>"geocity"},     |
             {:title=>"lo q pasa", :url=>"events"},      |
             {:title=>"mi alcoba", :url=>"bedroom"}]     |
