%head
  %title tengoantojo.com
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
  :javascript
    var session= #{!session.nil? && !session["user"].nil?};
    var user_id= "#{@session["user"] ? @session["user"]["email"] : ""}";
  =assets