%head
  %meta{'http-equiv'=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}/
  %title tengoantojo.com

  =jquery
  =jquery_plugin "scrollto/1.4.1/jquery.scrollTo-min"
  =jquery_plugin "localscroll/1.2.7/jquery.localscroll-min"
  =jquery_plugin "codalike-slider/jquery.serialScroll-1.2.1"
  =jquery_plugin "codalike-slider/coda-slider"
  =jquery_plugin "truncator/truncator"
  
  =grid_js_css
 
  =css_link "/javascripts/thirdparty/yui/build/fonts/fonts-min.css"
  =css_link "style"
  =css_link "codaslider"

  =js_tag "lib"
  =js_tag "ocommerce"
  =js_tag "globals"
  =js_tag "product_overlay"
  =js_tag "myserialscroller"

  =js_tag "app"

  =ie8