%head
  %title tengoantojo.com
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}

  =jquery
  =jquery_plugin "scrollto/1.4.1/jquery.scrollTo-min"
  =jquery_plugin "localscroll/1.2.7/jquery.localscroll-min"
  =jquery_plugin "codalike-slider/jquery.serialScroll-1.2.1"
  =jquery_plugin "codalike-slider/coda-slider"
  =jquery_plugin "truncator/truncator"
  =jquery_plugin "jeip/jeip"
  =jquery_plugin "autocomplete/jquery.autocomplete"
  =jquery_plugin "image-overlay/jquery.ImageOverlay.min"
  =jquery_plugin "galleria/jquery.galleria"
  =jquery_plugin "jScrollPane/jScrollPane"
  =jquery_plugin "mousewheel/jquery.mousewheel"
  =jquery_plugin "blockUI/jquery.blockUI"
  =jquery_plugin "json/jquery.json-2.2.min"
  
  =jquery_ui

  =grid_js_css
 
  =#css_link "/javascripts/thirdparty/yui/build/fonts/fonts-min.css"
  =css_link "codaslider"
  =# css_link  "jquery.autocomplete"
  =css_link  "ImageOverlay"
  =css_link  "galleria"
  =css_link  "jScrollPane"

  =css_link "styles"

  =js_tag "http://maps.google.com/maps/api/js?sensor=false"
  = #js_tag "http://www.apture.com/js/apture.js?siteToken=zt6Z77d"
  =# js_tag "http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed"
  =# js_tag "applesearch"
  =js_tag "lib"
  =js_tag "ui"

  =js_tag "ocommerce"
  =js_tag "globals"
  =js_tag "product_overlay"
  =js_tag "marketplace_home"
  =js_tag "tab_slider"
  =js_tag "product_form"
  =js_tag "perfil"
  =js_tag "app"

  =ie8
