%head
  %meta{'http-equiv'=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}/
  %title tengoantojo.com

  =jquery
  =js_tag "thirdparty/jquery/codalike-slider/jquery.scrollTo-1.3.3"
  =js_tag "thirdparty/jquery/codalike-slider/jquery.localscroll-1.2.5"
  =js_tag "thirdparty/jquery/codalike-slider/jquery.serialScroll-1.2.1"
  =js_tag "thirdparty/jquery/codalike-slider/coda-slider.js"
  
  = #js_tag "thirdparty/jquery/overlay/overlay.js"
  =js_tag "thirdparty/jquery/fixedbox/fixedbox.js"
  
  =grid_js_css
 
  =yui "yahoo-dom-event/yahoo-dom-event"
  =yui "animation/animation-min"
  =yui "container/container-min.js"
  =yui "element/element-min"
  =yui "selector/selector-min"
  =yui "tabview/tabview-min"
  =css_link "/javascripts/thirdparty/yui/build/fonts/fonts-min.css"
  =css_link "/javascripts/thirdparty/yui/build/container/assets/skins/sam/container.css"
  =css_link "/javascripts/thirdparty/yui/build/tabview/assets/skins/sam/tabview.css"
  = #css_link "tabview.yui.css"
  
  =css_link "style"
  
  =css_link "skins"

  =css_link "codaslider"
  = #css_link "overlay"  