%head
  %meta{'http-equiv'=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}/
  %title tengoantojo.com

  =jquery

  =grid_js_css
 
  =yui "yahoo-dom-event/yahoo-dom-event"
  =yui "animation/animation-min"
  =yui "element/element-min"
  =yui "selector/selector-min"
  =yui "tabview/tabview-min"
  =css_link "/javascripts/thirdparty/yui/build/fonts/fonts-min.css"
  = #css_link "/javascripts/thirdparty/yui/build/tabview/assets/skins/sam/tabview.css"
  =css_link "tabview.yui.css"
  
  =css_link "style"
  
  =css_link "skins"

