%div#tabs
  %ul.navigation#tab-ul
    %li
      %a#search-btn.first{:href=>"#inicio"}
        %em buscar
    %li
      %a{:id=>"favoritos-btn",:href=>"#favoritos"}
        %em favoritos
    %li
      %a{:id=>"recomendados-btn",:href=>"#recomendados"}
        %em recomendados
    %li
      %a{:id=>"promociones-btn",:href=>"#promociones"}
        %em promociones
  %div.scroll
    %div.scrollContainer#listings-container
      %div.panel.tab#inicio
        %div.tab-container
          =haml :tagcloud
          /=haml :categorias_nav
          %div.clear &nbsp;
          =haml :product_list
      %div.panel.tab#favoritos
        %div.tab-container
          =haml :categorias_nav
          %div.clear &nbsp;
          %div.tab-control-container
            %button#arriba Arriba
            %button#abajo Abajo
          %div.product-list#product-list
            =mock_products 10
      %div.panel.tab#recomendados
        %div.tab-container
          =haml :categorias_nav
          %div.clear &nbsp;
          %div.tab-control-container
            %button#arriba Arriba
            %button#abajo Abajo
          %div.product-list#product-list
            =mock_products 10
      %div.panel.tab#promociones
        %div.tab-container
          =haml :categorias_nav
          %div.clear &nbsp;
          %div.tab-control-container
            %button#arriba Arriba
            %button#abajo Abajo
          %div.product-list#product-list
            =mock_products 10
