#tabs
  =haml :marketplace_nav
  .scroll
    .scrollContainer#listings-container
      .panel.tab#inicio
        =haml :tagcloud
        =haml :bridge_control
        =haml :product_list, :locals=>{:id=>"product-list-0",:overlay=>"product_overlay"}
      .panel.tab#favoritos
        =haml :categorias_nav
        .tab-control-container
          %button#arriba Arriba
          %button#abajo Abajo
        .product-list
          =mock_products 10
      .panel.tab#mi-tienda
        =haml :mi_tienda, :locals => {:product_form => {:id => "product-form"}}
      .panel.tab#promociones
        =haml :my_shop
