.meantoje
  #meantoje-overlay
    .meantoje-datos
      %p.title Datos del vendedor
      %p La bu&ntilde;uequita consentida
      %p Tel: 2345678
      %p Dir: Cll. 1 # 1-1
      %p.title Datos del comprador
      .meantoje-form
        %p Nombre:
        %input{:type=>"text"}
        %p Tel&eacute;fono:
        %input{:type=>"text"}
        %p E-mail:
        %input{:type=>"text"}
        %p Cantidad
        %input{:type=>"text"}
        %p Comentarios:
        %textarea
        %div
          %a#pedir-btn{:href=>"#pedir"} pedir
  %a#meantoje-btn{:href=>"#meantoje"} Me antoj&eacute;!!
