.meantoje
  #meantoje-overlay
    .meantoje-datos
      %p.title Datos del vendedor
      %p La bu&ntilde;uequita consentida
      %p Tel: 2345678
      %p Dir: Cll. 1 # 1-1
      %p.title Datos del comprador
      .meantoje-form
        %div
          %p Nombre:
          %input{:type=>"text"}
        %div
          %p Tel&eacute;fono:
          %input{:type=>"text"}
        %div
          %p E-mail:
          %input{:type=>"text"}
        %div 
          %p Cantidad
          %input{:type=>"text"}
        %p Comentarios:
        %textarea
  %a{:href=>"#meantoje"} Me antoj&eacute;!!
