.meantoje
  #meantoje-overlay
    .meantoje-datos
      %p.title Datos del vendedor
      %p La bu&ntilde;uequita consentida
      %p Tel: 2345678
      %p Dir: Cll. 1 # 1-1
      %p.title Datos del comprador
      %table
        %tr
          %td Nombre:
          %td
            %input{:type=>"text"}
        %tr
          %td Tel&eacute;fono:
          %td
            %input{:type=>"text"}
        %tr
          %td E-mail:
          %td
            %input{:type=>"text"}
        %tr
          %td Cantidad
          %td
            %input{:type=>"text"}
        %p Comentarios:
        %textarea
  %a{:href=>"#meantoje"} Me antoj&eacute;!!
