.mi-tienda
  .menu
    %ul
      %li
        %a#add-product-btn{:href=>"#", :title=>"Agregar producto"}
          %img{:src=>"/images/add.png"}
          Agregar producto
  .product-list#mi-tienda-product-list
    =haml :product_form, :locals => {:id => product_form[:id]}
    =_product_list 0
