#login-modal
  .login-box
    %p email
    %input{:type=>"text"}
    %p password
    %input{:type=>"password"}
.tabs.hidden
  %li.option.selected
    %a{:href=>"#profile"} mi perfil
  %li.option.larger
    %a{:href=>"#social-networks"} mis redes sociales
  %li.option
    %a{:href=>"#channels"} mis canales
  %li.option
    %a{:href=>"#stuff"} mis cosas
#myenv-profile
  .north
    .west
      %p foto
    .center
      .name.field
      .nickname.field
      .birthdate.field
      .email.field
    .east
      .location.field
      .gender.field
  .south
#my-env-networks
#my-env-channels
#my-env-stuff