.overlay-iconos-bottom
  %ul
    %li.feature-icon
      =img "/images/motico.png"
    %li.feature-icon
      =img "/images/ollita.png"
    %li.feature-icon
      =img "/images/gorrito.png"
    %li.feature-icon
      =img "/images/hielo.png"
    %li.feature-icon
      =img "/images/mano.png"
    %li.feature-icon
      =img "/images/pluma.png"
    %li.feature-icon
      =img "/images/caja.png"
    %li.feature-icon
      =img "/images/bolitas.png"
