%div.product
  %table{:cellpadding=>0, :width=>"100%"}
    %tbody
      %tr
        %td{:rowspan=>"2", :width=>"8%"}
          %img{:src=>"/images/pizzas.jpg", :height=>"35", :width=>"35"}/
        %td{:rowspan=>"2", :width=>"65%"}
          %p.nombre
            PIZZAS BU&Ntilde;PUM
          %p.descripcion So, we code web sites by hand. La mejor pizza de la ciudad y de los universos          
        %td{:width=>"12%"}
        %td{:width=>"15%", :valign=>"bottom"}
          %p $999,999.99
      %tr
        %td
          %img{:src=>"/images/corazon-icon.png"}/
          %img{:src=>"/images/dialogo-azul-icon.png"}/
        %td
          %p Me antoj&eacute;!