%div.panel.tab#inicio
  %div.tab-container
    =categorias_nav
    %div.clear &nbsp;
    %div.tab-control-container
      %button#arriba Arriba
      %button#abajo Abajo
    %div.product-list#product-list
      =mock_products 15
