.product-form{:id=>id}
  .product-form-content
    =haml :edit_product_info
  .product-saved-dialog{:class=>"hidden"}
    %p Tu producto ha sido publicado
    %p Deseas publicar otro?
    %div
      %a.si{:href=>"#"} S&iacute;
      %a.no{:href=>"#"} No
  .product-form-bg
