%div.product.grid_13
  %div.clear &nbsp;
  %div.grid_2
    %img{:src=>"images/pizzas.jpg", :height=>"65", :width=>"65"}/
  %div.product-info.grid_10#product-info
    %div.clear &nbsp;
    %div.grid_10
      %div.basic.grid_4
        %p.nombre
          %strong PIZZAS BUÑPUM
        %p.descripcion La mejor pizza de la ciudad y de los universos
      %div.precio.grid_2
        %p $999,999.99
      %div.pedir-btn.grid_2
        %p pedir
      %div.clear &nbsp;
    %div.grid_10
      %div.clear &nbsp;
      %div.iconos.grid_4
        %img{:src=>"images/iconos-left.jpg"}/
      %div.iconos.iconos-right.grid_4
        %img{:src=>"images/iconos-left.jpg"}/
    %div.clear &nbsp;
  %div.clear &nbsp;  
