.product-overlay{:id=> id, :class => (defined? klass ? klass : nil)}
  .overlay-iconos-top
    %table{:cellpadding=>"0",:cellspacing=>"0"}
      %tr
        %td.cerrar
          =img "/images/cerrar.png"
      %tr
        %td
          =img "/images/online-spot.png"
      %tr
        %td
          =img "/images/minidialogo.png"
  .product-overlay-content
    =haml :brief
    .overlay-comentarios
      %p.comentarios-label comentarios
      .post-comment-container
        .poster-pic
          %p PIC
        .posting-area
          %textarea
      %div
        .comments-container#product-comments.scroll-pane
          .comment
            .poster-pic
              %p PIC
            .comment-text
              %table
                %tr
                  %td 
                    %p.name Bu&ntilde;uequita
                %tr
                  %td 
                    %p te qued&oacute; s&uacute;per asqueroso todo mi pumis te qued&oacute; s&uacute;per asqueroso todo mi pumis te qued&oacute; s&uacute;per asqueroso todo mi pumis te qued&oacute; s&uacute;per asqueroso todo mi pumis
          =haml_times :comment, 25
.product-overlay-bg#product-overlay-bg.ui-corner-bottom.ui-corner-tr
