.overlay-iconos-top
  %table{:cellpadding=>"0",:cellspacing=>"0"}
    %tr
      %td.cerrar
        =img "/images/cerrar.png"
    %tr
      %td
        =img "/images/online-spot.png"
    %tr
      %td
        =img "/images/minidialogo.png"
.overlay-iconos-right
  %table{:cellpadding=>"0", :cellspacing=>"0"}
    %tr
      %td
        =img "/images/corazon-solido-icon-2.png"
      %td
        %p 12
    %tr
      %td
        =img "/images/dialogo-icon-2.png"
      %td
        %p 15
    %tr
      %td
        =img "/images/email.png"
      %td
        %p 12
    %tr
      %td
        =img "/images/dialogo-icon-2.png"
      %td
        %p 15
.overlay-iconos-bottom
  %table
    %tr
      %td
        %table
          %tr
            %td
              =img "/images/motico.png"
            %td
              =img "/images/ollita.png"
            %td
              =img "/images/gorrito.png"
            %td
              =img "/images/hielo.png"
            %td
              =img "/images/mano.png"
            %td
              =img "/images/pluma.png"
            %td
              =img "/images/caja.png"
            %td
              =img "/images/bolitas.png"

      %td 
        %a{:href=>"#meantoje"} me antoj&eacute;!
.product-overlay#product-overlay
  .brief
    %table{:width=>"100%"}
      %tbody
        %tr
          %td{:rowspan=>"2"}
            %table
              %tr
                %td
              %tr
                %td
              %tr
                %td
          %td
            %p.nombre
              %strong Pizza doble pepperoni
          %td
            %p.ver-vendedor ver vendedor
          %td
            %p.precio $15.000
        %tr
          %td.descripcion-td{:colspan=>"2"}
            %p.descripcion 
              So, we code web sites by hand. La mejor pizza de la ciudad y de los universos
              So, we code web sites by hand. La mejor pizza de la ciudad y de los universos
              So, we code web sites by hand. La mejor pizza de la ciudad y de los universos
          %td
  .comentarios-label
    %p comentarios
  .comentarios
    .enviar-comentario
      %table
    .comentario-list
      %table
        %tr
          %td
            .comentario#comentario-0
              %table
            .comentario#comentario-1
              %table
            .comentario#comentario-2
              %table
            .comentario#comentario-3
              %table
            .comentario#comentario-4
              %table
          %td
            S