%div.product
  %table
    %tbody
      %tr
        %td{:rowspan=>"3"}
          %img{:src=>"/images/pizzas.jpg", :height=>"65", :width=>"65"}/
        %td
          %p.nombre
            %strong PIZZAS BU&Ntilde;PUM
        %td{:rowspan=>"2"}
          %p $999,999.99
        %td{:rowspan=>"2"}
          %p pedir
      %tr
        %td
          %p.descripcion So, we code web sites by hand. La mejor pizza de la ciudad y de los universos
      %tr
        %td
          %img{:src=>"/images/iconos-left.jpg"}/
        %td{:colspan=>"2"}
          %img{:src=>"/images/iconos-left.jpg"}/