.overlay.petrol#overlay
  %h2{:style=>"margin:10px 0"} Here is my overlay
  %p{:style=>"float: left; margin:0px 20px 0 0;"}
    %img{:src=>"http://static.flowplayer.org/img/title/eye192.png"}/
  %p Class aptent taciti sociosqu ad litora torquent per conubia nostra,per inceptos himenaeos. Donec lorem ligula, elementum vitae, imperdiet a, posuere nec, ante. Quisque mattis massa id metus.
