%b Ingredientes:
%ul
  %li 2 bandejas de carne molida. comprar una tabla y hacerla moler
  %li 6 tomates escogidos por pumiprincipi
  %li 2 pimentones escogidos por pumiprincipi
  %li 2 cebllas escogidas por pumiprincipi
  %li champinones escogidos por cuturutzi
  %li mucho amor de cuturutzi
%p 
  cocinar tomates, pimentones y cebolla con el pollo, cuando este listo desmechar
  pollo y licuar el caldo junto con el alino. cocinar los champis en manteq
  uilla y hacer la salsita. agregar el amor de la cuturut.
