.top-icons-menu
  %div
    %p Publicar producto
  %div.icons
    %ul
      %li#add-product-btn
        %img{:src=>"/images/icons/new.png", :width=>"25px", :height=>"25px"}
      %li#my-products-btn
        %img{:src=>"/images/icons/box-label.png", :width=>"25px", :height=>"25px"}
      %li#my-orders-btn
        %img{:src=>"/images/icons/exclamation-white.png", :width=>"25px", :height=>"25px"}
      %li#my-money-btn
        %img{:src=>"/images/icons/currency.png", :width=>"25px", :height=>"25px"}
      %li#my-stats-btn
        %img{:src=>"/images/icons/chart.png", :width=>"25px", :height=>"25px"}
