@import utils

*
  :margin 0
  :padding 0


body
  :background #fff url(/images/urbanitus/background-home.png) repeat scroll 0 0
  :font-family "HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif
  :font-size 14px
  :margin-top 0


li
  :display inline-block
  :*display inline
  :cursor pointer

  em
    :font-style normal

  a
    :display block
    :display inline-block
    :vertical-align bottom

    em
      :display block


a
  :text-decoration none

  &:hover
    :border 0

.hidden
  :display none

.search
  :background-color #fff
  :border 1px solid #fff
  :border-top 0
  :background transparent url(/images/firefox-header-background.png) no-repeat scroll left bottom

  p
    :font-size 25px
    :color #fff

#meerkat
  :color #ABC34E
  :height 339px
  :background transparent

#dialog-overlay
  :bottom 175px
  :left 356px
  :position absolute

#community
  :width 650px
  :border 1px solid #AAA
  :border-top none
  :padding 5px
  .container-1
    :margin-bottom 5px
    :height 450px
  .member-list
    :background-color #FFF
    :width 150px
    :height 430px
    :margin-right 5px
    :float left
    :border 1px solid #CCC
    :padding 5px
    .member-item
      :display block
  .sub-content
    :background-color #FFF
    :padding 5px
    :float left
    :width 500px
    :height 430px
    :border 1px solid #123EA3
  .pub-input
    input
      :width 600px
