/* catnav */
.yui-skin-sam .yui-navset .cat-nav,
.yui-skin-sam .yui-navset .yui-navset-top .cat-nav {
  border-style:none;
  border-width: 0px;
  margin: 0 0 3px;
}

.yui-skin-sam .yui-navset .cat-nav li,
.yui-skin-sam .yui-navset .yui-navset-top .cat-nav li {
  padding:0;
}

.yui-skin-sam .yui-navset .cat-nav a em,
.yui-skin-sam .yui-navset .yui-navset-top .cat-nav a em {
  font-size: 12px;
}

.yui-skin-sam .yui-navset .cat-nav a:hover,
.yui-skin-sam .yui-navset .cat-nav a:focus {
    background:#bfdaff url(/javascripts/thirdparty/yui/build/assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
    outline:0;
}

/* breadcrumb */
.yui-skin-sam .yui-navset .breadcrumb a,
.yui-skin-sam .yui-navset .yui-navset-top .breadcrumb a {
  border-style:none;
}

.yui-skin-sam .yui-navset .breadcrumb a em,
.yui-skin-sam .yui-navset .yui-navset-top .breadcrumb a em {
  border-style:none;
}

.yui-skin-sam .yui-navset .breadcrumb em,
.yui-skin-sam .yui-navset .yui-navset-top .breadcrumb em {
  padding:0.25em 0.1em;
}

.yui-skin-sam .yui-navset .breadcrumb li,
.yui-skin-sam .yui-navset .yui-navset-top .breadcrumb li {
  margin: 0;
}

/* selected yuinav */
.yui-skin-sam .yui-navset .yui-nav a em {
    /*padding:0.35em 0.75em; /* raise selected tab */
    padding:0.25em 0.5em 0.25em 1.8em;*/
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
    /*background:#2647a0 url(/javascripts/thirdparty/yui/build/assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    background:none;
    /*background-color:#CD2E13;*/
    color:#000;
    /*padding:0.35em 0.75em 0.35em 1.0em;*/
}

.yui-skin-sam .yui-navset .yui-nav .selected a em {
    /*padding:0.35em 0.75em; /* raise selected tab */
    padding:0.35em 0.5em 0.35em 1.8em;
}

/* selected catnav */
.yui-skin-sam .yui-navset .cat-nav .selected,
.yui-skin-sam .yui-navset .yui-navset-top .cat-nav .selected { 
    /*margin:0 0.16em -1px 0; /* for overlap */
    margin:0 0.16em 0 0;
}

.yui-skin-sam .yui-navset .cat-nav .selected a,
.yui-skin-sam .yui-navset .cat-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .cat-nav .selected a:hover { /* no hover effect for selected */
    /*background:#2647a0 url(/javascripts/thirdparty/yui/build/assets/skins/sam/sprite.png) repeat-x left -1400px; /* selected tab background */
    background:none;
    background-color:#CD2E13;
    color:#fff;
}

.yui-skin-sam .yui-navset .cat-nav .selected a em {
    /*padding:0.35em 0.75em; /* raise selected tab */
    padding:0.25em 0.75em;
}

.yui-skin-sam .yui-navset .cat-nav .selected a,
.yui-skin-sam .yui-navset .cat-nav .selected a em {
    /*border-color:#243356; /* selected tab border color */
    border-color:#a3a3a3;
}

.yui-skin-sam .yui-navset-left .yui-nav .selected,
.yui-skin-sam .yui-navset .yui-navset-left .cat-nav .selected { 
    margin:0 -1px 0.16em 0;
}

.yui-skin-sam .yui-navset-right .cat-nav .selected { 
    margin:0 0 0.16em -1px;
}

.yui-skin-sam .yui-navset-left .cat-nav a,
.yui-skin-sam .yui-navset-left .cat-nav .selected a,
.yui-skin-sam .yui-navset-left .cat-nav a:hover,
.yui-skin-sam .yui-navset-right .cat-nav a,
.yui-skin-sam .yui-navset-right .cat-nav .selected a,
.yui-skin-sam .yui-navset-right .cat-nav a:hover,
.yui-skin-sam .yui-navset-bottom .cat-nav a,
.yui-skin-sam .yui-navset-bottom .cat-nav .selected a,
.yui-skin-sam .yui-navset-bottom .cat-nav a:hover {
    background-image:none; /* no left-right or bottom-top gradient */
}

.yui-skin-sam .yui-navset .yui-navset-bottom .cat-nav .selected,
.yui-skin-sam .yui-navset-bottom .cat-nav .selected { 
    margin:-1px 0.16em 0 0; /* for overlap */
}