* { margin:0; padding:0}

body { 
    background-color: #fff; 
    font-family:"HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size:14px;
    margin-top:0;
}


a {
  text-decoration:none;
}
a:hover {
  border:0;
}

/* search */

.search { background-color:#fff; border:1px solid #fff; padding:10px; margin:0; margin-bottom: 5px; border-top:0;}
.search {
    /*background:transparent url(/images/firefox-personal-bg.jpg) no-repeat scroll center top;*/
    background:transparent url(/images/firefox-header-background.png) no-repeat scroll left bottom;
}

.search p {
  font-size:25px;
  color:#fff;
}
/* end search */
	
#tab-ul {
    border-color: #FFFFFF;
    border-width:0 0 2px;
}


#content {
  float: left;
  margin:0;
  margin-left:10px;
}

.tab {
    background-color: white;
}

#tabs, #right {
    margin: 0px;
}

#product-info {
    background-color: white;
    width: 450px;
    margin: 0px;
}

.product p {
    padding: 0px;
    line-height: 1.1;
    margin: 0px;
    border: 0px;
}

.container_24 .iconos {
    width: 225px;
    margin: 0px;
}

.iconos-right {
    text-align: right;
}

.product p {
  font-size:12px;
  color:#000;
}

.product-list {
    background-color: white;
    /*overflow: hidden;*/
    float: left;
    position:relative;
}

.product-list .product .precio {
    margin: 20px 0 0 5px;
}

.product-list .product .pedir-btn {
    margin: 20px 0 0;
    padding-left: 5px;
}

.categorias-container {
  border: 1px solid;
  padding: 5px;
  margin: 5px 0 5px 0;
  height:45px;
}

.categorias-container ul a {
  color: #000;
  font-size: 12px;
  border:1px solid;
}

.categorias-container a:hover,
.categorias-container a:focus {
  background:#bfdaff url(/javascripts/thirdparty/yui/build/assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
  outline:0;
}

.categorias-container ul a em {
  padding: 0.3em;
}

.categorias-container .breadcrumb a {
  border:none;
}

.categorias-lista .selected {
  background-color: #ABC345;
}

.product table {
  border-top: 1px solid;
  border-color: #EFEFEF;
}

#search-btn {
  background-image:url('/images/casita-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#favoritos-btn {
  background-image:url('/images/corazon-solido-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#recomendados-btn {
  background-image:url('/images/dialogo-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#promociones-btn {
  background-image:url('/images/estrella-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#ver-mas-prod p {
  font-size:10px;
  color:#92B7E8;
}

.product .precio {
  font-size:14px;
}

.product .comprar-btn {
  text-decoration:none;
  color:#E8E8E8;
  border: 1px solid;
  border-color:#E8E8E8;
  font-size: 12px;
  background-color:#ACACAC;
  padding: 1px 2px;
}

.product-overlay-bg { 
  position:absolute;
  background:#000;
  padding:5px;
  margin:0px;
  font-color:#fff;
  top:22px;
  left:46px;
  width:0px;
  height:554px;
  display:none;
  z-index:2;
}

.product-overlay { 
  position:absolute;
  padding:5px;
  margin:0px;
  font-color:#fff;
  top:0px;
  left:0px;
  width:0px;
  display:none;
  z-index:3;
}


.scroll-slider-overlay {
  position:absolute;
  padding:5px;
  margin:0px;
  font-color:#fff;
  top:120px;
  left:433px;
  width:0px;
  z-index:3;
}

.image-overlay { 
  position:absolute;
  background:#000;
  padding:0px;
  margin:0px;
  color:#fff;
  left:0px;
  width:46px;
  height:56px;
  display:none;
}

.brief {
  color:#fff;
  height:140px;
}

.brief p {
  border:none;
  padding: 0px 5px;
}

.product-overlay p {
  background:none;
  border-color:#fff;
}

.product-image {
  padding-top:4px;
}

.product-image img {
  background:transparent;
  margin: 0 3px;
  border: 2px solid #fff;
}

.overlay-iconos-top {
  left:50px;
  top:30px;
  position:absolute;
  z-index:4;
  display:none;
}

.container .overlay-iconos-right p {
  background:none;
  border:none;
  color:#fff;
  font-size:12px;
  padding:0px 0px 0px 5px;
}

.overlay-iconos-right {
  left:466px;
  top:37px;
  position:absolute;
  z-index:2;
  display:none;
}

.product-overlay-content {
  left:55px;
  top:30px;
  width:470px;
  position:absolute;
  z-index:3;
}

.product-overlay p {
  color:#fff;
}

.comments-container {
  clear:left;
  width:420px;
  height:540px;
  overflow:hidden;
}

.container .overlay-iconos-right td {
  vertical-align:top;
}


.ver-vendedor {
  color:#3FFBFF;
  font-size:10px;
}

.brief p{
  background:none;
}

.brief .precio {
  background:#505050;
  padding: 3px 2px;
}

.brief .descripcion {
  font-size:12px;
}

.brief .descripcion-td {
  vertical-align:top;
}

.overlay-iconos-bottom {
  margin-left: 15px;
}

.feature-icon {
  float:left;
}

.meantoje {
  float:left;
  margin-left: 70px;
  position: relative;
  background: #444;
  /*opacity: 0.7;*/
  display:block;
  height:21px;
  width:180px;
  padding-top:2px;
}

.meantoje a {
  color: #fff;
  margin-left:55px;
}

#meantoje-overlay {
  font-size:10px;
  background:#e2e2e2;
  height:210px;
  position:absolute;
  top:21px;
  width:180px;
  display:none;
}

#meantoje-overlay .meantoje-datos {
  padding: 0 5px;
}

.meantoje-datos p {
  color:#000;
}

#meantoje-overlay p.title {
  font-size:13px;
  background:#fff;
}

.cerrar {
  cursor:pointer;
}

.overlay-comentarios {
  margin-top:20px;
}

.overlay-comentarios p {
  font-size: 12px;
}

p.comentarios-label {
  background:#888;
  color:#fff;
  padding: 2px 0 2px 10px;fil-basic-pic
    . 
}

.post-comment-container {
  height: 50px;
  margin:10px 0 0 5px;
}

.poster-pic {
  float: left;
  background:#fff;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  border: 1px inset #CCC;
}

.posting-area {
  float: left;
}

.posting-area textarea {
  color: #fff;
  font-size:12px;
  width:400px;
  background:#000;
  border:none;
  opacity:0.5;
    
}

.comment {
  margin:0px 0 0 5px;
  height:60px;
  overflow:hidden;
}

.comment p {
  font-size:10px;
}

.comment-text p.name {
  border-bottom:1px outset #FFFFFF;
  color:#3FFBFF;
  line-height:0.90em;
}

/* end product overlay */

.product-list-scroll {
  height: 620px;
  overflow: hidden;
  position: relative;
}

.product-list-page {
  margin-bottom:74px;
}

.product-list-page-offset {
  border: 1px solid #000;
  height:12px;
  top:-70px;
  position:relative;
  padding:15px;
}

.categorias-lista {
  float: left;
  width:530px;
}

.categorias-scroll {
  overflow:hidden;
  width:530px;
}

.categorias-scrollContainer {
  width: 1590px;
  position: relative;
}

.categorias-lista-page {
  position: relative;
  float:left;
}

.categorias-lista, .categorias-lista li {
  padding: 0px;
  margin: 0;
  list-style:none;
}

.categorias-lista li {
  margin-right: 2px;
}

.categorias-lista#first {
  display: block;
}

li {
  display:inline-block;
  /*display:-moz-inline-stack;*/
  *display:inline;
/*  vertical-align:bottom;*/
  cursor:pointer;
  /*zoom:1;*/
  margin:0 0.16em 0 0;
  padding:1px 0 0;
}

li em {
  font-style:normal;
}

li a {
  display:block;
  display:inline-block;
  vertical-align:bottom;
  /*zoom:1;*/
}

li a em {
  display:block;
  /*zoom:1;*/ 
}

#tab-ul {
  padding-left: 10px;
  margin: 0;
  list-style:none;
  border-bottom:1px solid #DADADA;
  /*zoom:1;*/
}

#tab-ul a {
  border-right: 1px solid #DADADA;
  font-size:13px;
  color: #000;
}

#tab-ul a.first{
}


#tab-ul a em {
  padding: 0.25em 0.5em 0.45em 1.8em;
}

.tab-container {
  zoom:1;
}

#listings-container {
  padding:0px;
}

/*#listings-container:after{content:'';display:block;clear:both;}*/

/* left */
#arriba, #abajo {
  font-size:12px;
}
/* end left */


/* right */
#right {
  margin-left:10px;
}

.right-tab-btn {
  background-image:url('/images/icono-social.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

.right-scroll {
    width: 452px;
    position: relative;
    clear: left;
  /*border: 1px solid;*/
}


#tab-ul.right-navigation {
  margin-bottom:5px;
}

#right-tabs .panel {
  width:450px;
  /*border:1px solid;*/
}

#tab-ul.right-navigation a {
  border-bottom:0;
}

#right-tabs #murmullo .murmullo {
   
}

  /* murmullo */
  #murmullo .comment-text p.name {
    color:#1866FF;
  }
  #murmullo {
    padding: 0 10px;
    background:transparent url(/images/firefox-personal-bg.jpg) no-repeat scroll center top;
  }
  .murmullo-icons ul {
    background:#fff;
    margin:5px;
  }
  .murmullo-icons ul li {
    float:left;
    margin:0;
  }
  .murmullo-icons li a {
    padding:0.50em 0.25em 0.50em 2em;
    font-size:12px;
    background:#FFF8DE;
    opacity:0.7;
  }
  .murmullo-post {
    padding: 5px;
    clear:left;
    height:50px;
  }
  .murmullo-post input {
    width:300px;
  }
  .murmullo .poster-pic {
    color:#fff;
    float:left;
  }
  #murmullo .posting-area p {
    display:block;
    color:#DB6F00;
    text-size:14px;
  }

  #murmullo .murmullo-icons .antojados a {
    background-image:url(/images/icono-el-murmullo-amarillo.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
  }

  #murmullo .murmullo-icons .nuevos a {
    background-image:url(/images/icono-el-murmullo-azul.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
  }

  #murmullo .murmullo-icons .promociones a {
    background-image:url(/images/icono-el-murmullo-rosado.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
  }

  #murmullo .murmullo-icons .comentarios a {
    background-image:url(/images/icono-chat.png);
    background-repeat:no-repeat;
    background-position:5px 8px;
  }
  /* end murmullo */
/* end of right */


#slider-vertical {
  width:0.35em;
  height:300px;
  z-index:5;
}

#slider-vertical .ui-slider-handle {
  left:-0.07em;
    width:0.4em;
}

#slider-vertical .ui-widget-header {
  background:#FFDFE1;
}


#slider-vertical a {
  background: #F8A2A6;
  border-color:#FE6269;
}

#product-overlay .comments-container {
    height:300px;
}

#product-overlay .scroll-slider-overlay {
  top:260px;
  left:450px;
}
   
   #product-overlay #slider-vertical {
  height:250px;
  border-color:#444;
}

#product-overlay #slider-vertical .ui-slider-handle {
  left:0em;
    width:0.2em;
}

#product-overlay .ui-widget-header {
  background: #000000;
    opacity:0.5;
}

#product-overlay .ui-widget-content {
  background: none;
}
#product-overlay #slider-vertical a {
  background: #3FFBFF;
  border-color:#3FFBFF;
}

/* perfil */
#perfil {
/*  padding-left:10px;*/
/*  border:1px solid;*/
}

#perfil .perfil-navigation li {
  display:block;
}
 
.perfil-navigation {
  border:5px solid #EAB2FF;
  width:440px;
}

.perfil-navigation a {
  font-size:11px;
  padding:0.35em 0.35em 0.35em 2em;
}

.perfil-stats-icons ul li {
    float:left;
}

.perfil-stats-icons li p{
  padding:0.25em 0.25em 0.25em 1.50em;
  background-image:url(/images/icono-chat.png);
  background-repeat:no-repeat;
  background-position:5px 8px;
}

#perfil-basic {
  float:left;
  margin-left: 5px;
  margin-top:5px;
  width:435px;
}

.perfil-basic-pic {
  float:left;
}

.perfil-basic-pic p {
  float:left;
  font-size:10px;
  padding-left:55px;
}

.bling-bling {
  color:green;
}

.perfil-basic-pic .poster-pic {
  float:none;
  width:100px;
  height:100px;
}

.perfil-geo-city {
  clear:left;
}

.perfil-basic-content {
  float:left;
}

p#perfil-nombre {
  font-family: Trebuchet MS;
    font-size:20px;
}

p#perfil-brief {
  font-size:12px;
}

.perfil-geo-city p {
  font-size:12px;
}

p.miembro-desde-label {
  font-size:10px;
  clear:left;
}

#perfil-contacto {
  float:left;
/*  height:300px;*/
  width:440px;
}
#perfil-mapa {
/*    width:100%;
    height:100%;
    opacity:0.7;*/
    width:430px;
    height:350px;
    display:none;
    position:absolute;
}

#perfil-content {
  width:440px;
  height:500px;
  overflow:hidden;
  border:5px solid #EAB2FF;
}

#perfil .page-container {
  width:1000px;
}

#perfil .perfil-contacto {
    clear:left;
}

#perfil .perfil-contacto-table {
background:#FFF6F0;
    margin-left:-5px;
    padding:10px;
}

#perfil .perfil-ubicacion {
  clear:left;
}

/* end perfil */


/* edit in place */
		.jeip-saving {
			background-image: url( 'ajax-loader.gif' );
			background-repeat: no-repeat;
			background-position: left;
			background-color: #903;
			color: #fff;
			padding: 0 2px 0 20px;
		}

		.jeip-mouseover, .jeip-editfield {
			background-color: #ffff99;
		}

		.jeip-savebutton {
			background-color: #36f;
			color: #fff;
		}

		.jeip-cancelbutton {
			background-color: #000;
			color: #fff;
		}

#perfil-geoname-edit {
    display:none;
}

  /*custom*/
  .jeip-mouseover, .jeip-editfield {
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
  }
/* end edit-in-place */

/* google maps */
/* end google maps */