/*.column { background-color:#92C348; height:400px; float:left; margin-top:20px; }
.gutter { background-color:#BCDA86; height:400px; float:left; margin-top:20px; }
.gutter_outer { background-color:#56644A; height:400px; float:left; margin-top:20px; }*/
* { margin:0; padding:0}

body { 
    background-color: #fff; 
    font-family:"HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size:14px;
    margin-top:0;
}

/*:focus {
  -moz-outline-style:none;
}*/

a {
  text-decoration:none;
}
a:hover {
  border:0;
}

.search { background-color:#fff; border:1px solid #333; padding:10px; margin: 0px;}
	
#tab-ul {
    border-color: #FFFFFF;
    border-width:0 0 2px;
}

.search {
  margin-bottom: 5px;
}

#content {
  float: left;
}

.tab {
    background-color: white;
}

#tabs, #right {
    float: left;
    overflow: hidden;
    margin: 0px;
}

#product-info {
    background-color: white;
    width: 450px;
    margin: 0px;
}

.product p {
    padding: 0px;
    line-height: 1.1;
    margin: 0px;
    border: 0px;
}

.container_24 .iconos {
    width: 225px;
    margin: 0px;
}

.iconos-right {
    text-align: right;
}

.product p {
  font-size:12px;
  color:#000;
}

.product-list {
    background-color: white;
    /*overflow: hidden;*/
    float: left;
    position:relative;
}

.product-list .product .precio {
    margin: 20px 0 0 5px;
}

.product-list .product .pedir-btn {
    margin: 20px 0 0;
    padding-left: 5px;
}

#product-pagination {
    float: left;
    width:18px;
}

#product-show-container {
    overflow: hidden;
    height: 356px;
}

.categorias-container {
  border: 1px solid;
  padding: 5px;
  margin: 5px 0 5px 0;
  height:45px;
}

.categorias-container ul a {
  color: #000;
  font-size: 12px;
  border:1px solid;
}

.categorias-container a:hover,
.categorias-container a:focus {
  background:#bfdaff url(/javascripts/thirdparty/yui/build/assets/skins/sam/sprite.png) repeat-x left -1300px; /* selected tab background */
  outline:0;
}

.categorias-container ul a em {
  padding: 0.3em;
}

.categorias-container .breadcrumb a {
  border:none;
}

.categorias-lista .selected {
  background-color: #ABC345;
}

.product table {
  border-top: 1px solid;
  border-color: #EFEFEF;
}

#search-btn {
  background-image:url('/images/casita-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#favoritos-btn {
  background-image:url('/images/corazon-solido-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#recomendados-btn {
  background-image:url('/images/dialogo-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#promociones-btn {
  background-image:url('/images/estrella-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#ver-mas-prod p {
  font-size:10px;
  color:#92B7E8;
}

.product .precio {
  font-size:14px;
}

.product .comprar-btn {
  text-decoration:none;
  color:#E8E8E8;
  border: 1px solid;
  border-color:#E8E8E8;
  font-size: 12px;
  background-color:#ACACAC;
  padding: 1px 2px;
}

.product-overlay-bg { 
  position:absolute;
  background:#000;
  padding:5px;
  margin:0px;
  font-color:#fff;
  top:24px;
  left:46px;
  width:0px;
  height:554px;
  display:none;
  z-index:2;
}

.product-overlay { 
  position:absolute;
  padding:5px;
  margin:0px;
  font-color:#fff;
  top:0px;
  left:0px;
  width:0px;
  display:none;
  z-index:3;
}

.image-overlay { 
  position:absolute;
  background:#000;
  padding:0px;
  margin:0px;
  color:#fff;
  left:0px;
  width:46px;
  height:56px;
  display:none;
}

.brief {
  color:#fff;
  height:140px;
}

.brief p {
  border:none;
  padding: 0px 5px;
}

.product-overlay p {
  background:none;
  border-color:#fff;
}

.product-image {
  padding-top:4px;
}

.product-image img {
  background:transparent;
  margin: 0 3px;
  border: 2px solid #fff;
}

.overlay-iconos-top {
  left:50px;
  top:30px;
  position:absolute;
  z-index:4;
  display:none;
}

.container .overlay-iconos-right p {
  background:none;
  border:none;
  color:#fff;
  font-size:12px;
  padding:0px 0px 0px 5px;
}

.overlay-iconos-right {
  left:466px;
  top:37px;
  position:absolute;
  z-index:2;
  display:none;
}

.product-overlay-content {
  left:55px;
  top:30px;
  width:470px;
  position:absolute;
  z-index:3;
}

.product-overlay p {
  color:#fff;
}

.comments-container {
  clear:left;
}

.container .overlay-iconos-right td {
  vertical-align:top;
}


.ver-vendedor {
  color:#3FFBFF;
  font-size:10px;
}

.brief p{
  background:none;
}

.brief .precio {
  background:#505050;
  padding: 3px 2px;
}

.brief .descripcion {
  font-size:12px;
}

.brief .descripcion-td {
  vertical-align:top;
}

.overlay-iconos-bottom {
  margin-left: 15px;
}

.feature-icon {
  float:left;
}

.meantoje {
  float:left;
  margin-left: 70px;
  position: relative;
  background: #444;
  /*opacity: 0.7;*/
  display:block;
  height:21px;
  width:180px;
  padding-top:2px;
}

.meantoje a {
  color: #fff;
  margin-left:55px;
}

#meantoje-overlay {
  font-size:10px;
  background:#e2e2e2;
  height:210px;
  position:absolute;
  top:21px;
  width:180px;
  display:none;
}

#meantoje-overlay .meantoje-datos {
  padding: 0 5px;
}

#meantoje-overlay p.title {
  font-size:13px;
  background:#fff;
}

.cerrar {
  cursor:pointer;
}

.overlay-comentarios {
  margin-top:20px;
}

.overlay-comentarios p {
  font-size: 12px;
}

p.comentarios-label {
  background:#888;
  color:#fff;
  padding: 2px 0 2px 10px;
}

.post-comment-container {
  height: 50px;
  margin:10px 0 0 5px;
}

.poster-pic {
  float: left;
  background:#fff;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

.posting-area {
  float: left;
}

.posting-area textarea {
  color: #fff;
  font-size:12px;
  width:380px;
  background:#666;
}

.comment {
  margin:0px 0 0 5px;
  height:45px;
  overflow:hidden;
}

.comment p {
  font-size:10px;
}

.comment-text p.name {
  border-bottom:1px solid #FFFFFF;
  color:#3FFBFF;
  line-height:0.90em;
}

/* end product overlay */

.product-list-scroll {
  height: 620px;
  overflow: hidden;
  position: relative;
}

.product-list-page {
  margin-bottom:74px;
}

.product-list-page-offset {
  border: 1px solid #000;
  height:12px;
  top:-70px;
  position:relative;
  padding:15px;
}

.categorias-lista {
  float: left;
  width:530px;
}

.categorias-scroll {
  overflow:hidden;
  width:530px;
}

.categorias-scrollContainer {
  width: 1590px;
  position: relative;
}

.categorias-lista-page {
  position: relative;
  float:left;
}

.categorias-lista, .categorias-lista li {
  padding: 0px;
  margin: 0;
  list-style:none;
}

.categorias-lista li {
  margin-right: 2px;
}

.categorias-lista#first {
  display: block;
}

li {
  display:inline-block;
  display:-moz-inline-stack;
  *display:inline;
  vertical-align:bottom;
  cursor:pointer;
  /*zoom:1;*/
  margin:0 0.16em 0 0;
  padding:1px 0 0;
}

li em {
  font-style:normal;
}

li a {
  display:block;
  display:inline-block;
  vertical-align:bottom;
  /*zoom:1;*/
}

li a em {
  display:block;
  /*zoom:1;*/ 
}

#tab-ul {
  padding: 0px;
  margin: 0;
  list-style:none;
  /*zoom:1;*/
}

#tab-ul a {
  border: 1px solid;
  color: #000;
}

#tab-ul a em {
  padding: 0.25em 0.5em 0.25em 1.8em;
}

.tab-container {
  zoom:1;
}

#listings-container {
  padding:0px;
}

/*#listings-container:after{content:'';display:block;clear:both;}*/