.column { background-color:#92C348; height:400px; float:left; margin-top:20px; }
.gutter { background-color:#BCDA86; height:400px; float:left; margin-top:20px; }
.gutter_outer { background-color:#56644A; height:400px; float:left; margin-top:20px; }

body { 
    background-color: #fff; 
    font-family:"HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
    font-size:14px;
}
.container div p { background-color:#fff; }
div p { border:1px solid #333; padding:10px; margin: 0px;}
	
#tab-ul {
    border-color: #FFFFFF;
}

.yui-skin-sam .yui-navset .yui-nav li, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav li {
    padding: 10px 0 0;
}

.yui-skin-sam .yui-navset .yui-nav a, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    background: none;
    border-width: 1px;
}

.yui-skin-sam .container div .yui-content {
    padding: 0px;
}


.search {
  margin-bottom: 5px;
}

#content {
  float: left;
}

.tab {
    background-color: white;
}

#tabs, #right {
    float: left;
    overflow: hidden;
    margin: 0px;
}

#right {
}

#product-info {
    background-color: white;
    width: 450px;
    margin: 0px;
}

.product p {
    padding: 0px;
    line-height: 15px;
    margin: 0px;
    border: 0px;
}

.container_24 .iconos {
    width: 225px;
    margin: 0px;
}

.iconos-right {
    text-align: right;
}

div#product-info div.grid_10, div#product-info div.grid_3 {
    margin: 0px;
}

.product div.grid_2 {
    margin: 0px;
}

.product p {
  font-size:12px;
  color:#000;
}

.container_24 .basic {
    width: 290px;
    margin:0px;
}

.nombre {
}

.descripcion {
}

#product-list {
    background-color: white;
     overflow: hidden;
     float: left;
     height: 390px;
}

.product-list .product .precio {
    margin: 20px 0 0 5px;
}

.product-list .product .pedir-btn {
    margin: 20px 0 0;
    padding-left: 5px;
}

#product-pagination {
    float: left;
    width:18px;
}

#product-show-container {
    overflow: hidden;
    height: 356px;
}

#categorias-lista-1, #categorias-lista-4 {
  display:none;
}

#categorias-container {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}

.breadcrumb {
  font-size: 14px;
}

.product table {
  border-top: 1px solid;
  border-color: #EFEFEF;
}

#search-btn {
  background-image:url('/images/casita-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#favoritos-btn {
  background-image:url('/images/corazon-solido-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#recomendados-btn {
  background-image:url('/images/dialogo-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#promociones-btn {
  background-image:url('/images/estrella-icon.png');
  background-repeat:no-repeat;
  /*background-attachment:fixed;*/
  background-position:2px 4px;
}

#listings-container {
  border-style:none;
}